{% extends 'base.html.twig' %}

{% block body %}

    <div class="row" >

        <div class="col-lg-7 col-md-7 col-sm-7">
            <br><br>
            <div class="Mi_Biblioteca_container" >
                <div class="row">


                    <div class="col-lg-12 col-md-12 col-sm-12">

                        <canvas class="center-block" id="lienzo" width="100" height="100">
                            <p>Tu navegador no soporta canvas: Aquí deberías de ver una imagen: </p>
                        </canvas>


                        <br>
                        <img id="VIERNES" class="center-block img-responsive " src="{{ asset('biblioteca/biblioteca/images/ICRAI/HorarioViernes.png') }}"
                             alt="identidad"/>
                        <img id="CERRADO" class="center-block img-responsive " src="{{ asset('biblioteca/biblioteca/images/ICRAI/HorarioCerrado.png') }}"
                             alt="identidad"/>
                        <img id="LMMJ" class="center-block img-responsive " src="{{ asset('biblioteca/biblioteca/images/ICRAI/HorarioLMMJ.png') }}"
                             alt="identidad"/>
                        <img id="SABADO" class="center-block img-responsive " src="{{ asset('biblioteca/biblioteca/images/ICRAI/HorarioSabado.png') }}"
                             alt="identidad"/>

                        <br><br><br>
                        {% for biblio in bibliotecas %}
                            <h2 class="Estilo_Enunciado_Noticias"> {{ biblio.nombre }} </h2>


                            <dl>
                                <dd><div class="Estilo_Enunciado_Biblioteca_MasInformacion_Bold">Horario :</div></dd>
                                <dd class="Estilo_Enunciado_Biblioteca_MasInformacion_Nombres_Bold"> {{ biblio.horario }} </dd>
                            </dl>
                            <p class="Estilo_Noticias">
                                {{ biblio.descripcion }}
                            </p>
                            <p class="Estilo_Enunciado_Biblioteca_MasInformacion_Bold">
                                Ofrece servicios de:
                            </p>
                            <ul class="list-group">
                                {% for servicio in biblio.servicios %}
                                    <li class="list-group-item">
                                        <span class="badge">-</span>
                                        <p class="Estilo_Noticias">{{ servicio.nombre }}</p>
                                    </li>
                                {% endfor %}
                            </ul>
                            <br>
                        {% endfor %}
                        {% for sala in salas %}
                            <h2 class="Estilo_Enunciado_Noticias">{{ sala.Nombre }}</h2>

                            <p class="Estilo_Noticias">
                                {{ sala.descripcion }}
                            </p>
                            <dl>
                                <dd><div class="Estilo_Enunciado_Biblioteca_MasInformacion_Bold">Responsable de extensión:</div></dd>
                                <dd class="Estilo_Enunciado_Biblioteca_MasInformacion_Nombres_Bold">{{ sala.responsable.nombre }}</dd>
                                <dd class="Estilo_Enunciado_Biblioteca_MasInformacion_Nombres_Bold">Contacto: {{ sala.responsable.correo }}  </dd>
                            </dl>
                        {% endfor %}
                        {% for serv in servicios %}
                            <div id="{{ serv.nombre }}">
                                <br><br><br>
                                <h2 class="Estilo_Enunciado_Noticias"> {{ serv.nombre }}</h2>
                                <ul class="list-unstyled">
                                    <li>
                                        <p class="Estilo_Noticias">
                                            {{ serv.descripcion }}
                                        </p>
                                    </li>
                                </ul>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>



        </div>
        <div class="col-lg-1 col-md-1 col-sm-1"></div>
        <div class="col-lg-4 col-md-4 col-sm-4">
            <div class="Mi_jumbotron ">
                <div class="container">
                    <div class="Mi_page-header_biblioteca">
                        <h2 class="Estilo_Enunciado_Servicios_Principales">Servicios Principales</h2>
                    </div>
                    <ul class="list-unstyled">
                        <li>
                            <h5><div class="Estilo_Servicios_Principales_Enunciado">Préstamo de documentos</div></h5>
                            <ul class="list-unstyled ">
                                {% for serv in servicios %}
                                    {% if serv.tipo == "Préstamo de documentos" %}
                                         <a href="#{{ serv.nombre }}"><li class="Estilo_Servicios_Principales"> {{ serv.nombre }}</li></a>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </li>
                        <li>
                            <h5><div class="Estilo_Servicios_Principales_Enunciado">Servicios en línea</div></h5>
                            <ul class="list-unstyled">
                                {% for serv in servicios %}
                                    {% if serv.tipo == "Servicios en línea" %}
                                        <a href="#{{ serv.nombre }}"><li class="Estilo_Servicios_Principales"> {{ serv.nombre }}</li></a>
                                    {% endif %}
                                {% endfor %}
                                <li class="Estilo_Servicios_Principales">Acceso a Red Inalámbrica WIFI</li>
                                <li><a target="_blank"
                                       href="http://catalogo.upr.edu.cu/cgi-bin/wxis.exe/iah/scripts/?IsisScript=iah.xis&lang=es&base=CLASSROOMS">
                                        <div  class="Estilo_Servicios_Principales">Gestión
                                            de Reservas</div></a></li>
                                <li class="Estilo_Servicios_Principales">Servicio de navegación</li>
                                <li><a href="{{ path('servicios_vg') }}">
                                        <div class="Estilo_Servicios_Principales">Visitas Guiadas</div></a></li>
                            </ul>
                        </li>
                        <li>
                            <h5><div class="Estilo_Servicios_Principales_Enunciado">Servicios de acceso al documento</div></h5>
                            <ul class="list-unstyled">
                                {% for serv in servicios %}
                                    {% if serv.tipo == "Servicios de acceso al documento" %}
                                        <a href="#{{ serv.nombre }}"><li class="Estilo_Servicios_Principales"> {{ serv.nombre }}</li></a>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
{% block javascripts %}
    <script type="text/javascript">
        $(document).ready(function(){
            $("#VIERNES").hide();
            $("#CERRADO").hide();
            $("#LMMJ").hide();
            $("#SABADO").hide();
        });
        Math.degToRad = function(deg) // Agregamos método a la clase estática
        {
            return deg*Math.PI/180;
        }
        window.onload=function()
        {
            ele=document.getElementById('lienzo');
            ctx=ele.getContext("2d");
            xmax=ele.offsetWidth; // ancho de lienzo
            ymax=ele.offsetHeight; // alto de lienzo
            xo=xmax/2; // Centro reloj coordenada x
            yo=ymax/2; // Centro reloj coordenada y
            radiox=xo-(xo/10); // Tamaño del radio ancho de la circunferencia
            radioy=yo-(yo/10); // Tamaño del radio alto de la circunferencia
            relojCarcasa();
            relojIniciar();
        }



        function relojCarcasa() // Circulo con puntos
        {
            ctx.fillStyle = 'rgba(223,223,223, 0)';
            ctx.beginPath();
            for (ang=0; ang<360; ang=ang+1)
            {
                radianes=Math.degToRad(ang);
                x=radiox*Math.sin(radianes);
                y=radioy*Math.cos(radianes);
                x=x+xo;
                y=y+yo;
                ctx.fillRect(x,y,4,4);
                ctx.lineCap = "round";
            }
            //ctx.arc(100, 50, 20, 0, Math.PI, false);
            ctx.stroke();
        }

        function relojManecillaHora(pos)
        {
            ctx.lineWidth = 8;
            ctx.strokeStyle = 'rgba(0,0,255, 1)';
            ctx.lineCap = "round";
            ctx.beginPath();
            radianes=Math.degToRad(180-pos*30); // hora
            x=radiox/1.5*Math.sin(radianes);
            y=radioy/1.5*Math.cos(radianes);
            x=x+xo;
            y=y+yo;
            ctx.moveTo(xo,yo);
            ctx.lineTo(x,y);
            ctx.stroke();
        }

        function relojManecillaMinuto(pos)
        {
            ctx.lineWidth = 8;
            ctx.strokeStyle = 'rgba(0,0,255, 1)';
            ctx.lineCap = "round";
            ctx.beginPath();
            radianes=Math.degToRad(180-pos*6); // minuto
            x=radiox/1.25*Math.sin(radianes);
            y=radioy/1.25*Math.cos(radianes);
            x=x+xo;
            y=y+yo;
            ctx.moveTo(xo,yo);
            ctx.lineTo(x,y);
            ctx.stroke();
        }

        function relojManecillaSegundo(pos)
        {
            ctx.lineWidth = 1;
            ctx.strokeStyle = 'rgba(221,64,4, 0)';
            ctx.beginPath();
            radianes=Math.degToRad(180-pos*6); // segundo
            x=radiox*Math.sin(radianes);
            y=radioy*Math.cos(radianes);
            x=x+xo;
            y=y+yo;
            ctx.moveTo(xo,yo);
            ctx.lineTo(x,y);
            ctx.stroke();
        }

        function relojAvanza()
        {
            //CapturarHoraServidor();
            var dia = {{ dia }};
            var hora = {{ hora }};
            var min = {{ min }};
            var seg = {{ seg }};
            var mes = {{ mes }};
            var year = {{ year }};
            //alert(hora);
            var f=new Date(year,mes,dia,hora,min,seg);
            DefinirImafen(f);
            ctx.clearRect(0,0,xmax,ymax);//borra canvas, hacerla transparente o sin contenido gráfico
            //relojCarcasa();
            relojManecillaSegundo(f.getSeconds());
            relojManecillaMinuto(f.getMinutes());
            relojManecillaHora(f.getHours());
        }

        function DefinirImafen(f)
        {
            dia = f.getUTCDay()-3;
            hora = f.getHours();
            Min = f.getMinutes();

            if(dia == 6 && hora >= 8 && hora < 12)
            {
                $("#VIERNES").hide();
                $("#CERRADO").hide();
                $("#LMMJ").hide();
                $("#SABADO").show();
            }else
            if(dia == 5 && hora >= 8 && hora < 17)
            {
                $("#VIERNES").show();
                $("#CERRADO").hide();
                $("#LMMJ").hide();
                $("#SABADO").hide();
            }else
            if(dia > 0 && dia < 5 && hora >= 8 && hora < 22)
            {
                $("#VIERNES").hide();
                $("#CERRADO").hide();
                $("#LMMJ").show();
                $("#SABADO").hide();
            }else
            {
                $("#VIERNES").hide();
                $("#CERRADO").show();
                $("#LMMJ").hide();
                $("#SABADO").hide();
            }
        }

        function relojIniciar()
        {
            window.setInterval('relojAvanza()', 1000);
        }
    </script>

{% endblock %}