<br><br><br>

<div class="Mi_jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3">
                <ul class="list-unstyled">
                    <li class="Estilo_Pie_Pagina">
                        <a href="#">
                            <img class="center-block img-responsive" width="150"
                                 src="{{ asset('biblioteca/biblioteca/images/ICRAI/logo.png') }}" alt=""/>
                        </a>
                    </li>
                    <br><br>
                    <br>
                    <div class="row">
                        <div class="col-md-3 col-sm-3 col-xs-3"></div>
                        <div class="col-md-2 col-sm-2 col-xs-2">
                            <div class="circulo">
                                <a target="_blank"
                                   data-container="body"
                                   data-toggle="popover"
                                   data-trigger="hover"
                                   data-placement="top"
                                   data-content="S&iacute;guenos en Flickr"
                                   href="https://www.flickr.com/photos/145284737@N03/">
                                    <img class="img-responsive img-rounded" style="margin: 6px 0 0 6px;"
                                         width="20" src="{{ asset('biblioteca/biblioteca/images/social/flickr9.svg') }} " alt="Flickr">
                                </a>
                            </div>

                        </div>
                        <div class="col-md-2 col-sm-2 col-xs-2">
                            <div class="circulo">
                                <a target="_blank"
                                   data-container="body"
                                   data-toggle="popover"
                                   data-trigger="hover"
                                   data-placement="top"
                                   data-content="S&iacute;guenos en Facebook"
                                   href="https://www.facebook.com/profile.php?id=100014544243634">
                                    <img class="img-responsive img-rounded" style="margin: 6px 0 0 6px;"
                                         width="20" src="{{ asset('biblioteca/biblioteca/images/social/facebook6.svg') }} " alt="Facebook">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-2 col-xs-2">
                            <div class="circulo">
                                <a target="_blank"
                                   data-container="body"
                                   data-toggle="popover"
                                   data-trigger="hover"
                                   data-placement="top"
                                   data-content="S&iacute;guenos en Twitter"

                                   href="https://twitter.com/Crai_Upr">

                                    <img class="img-responsive img-rounded" style="margin: 6px 0 0 6px;"
                                         width="20" src="{{ asset('biblioteca/biblioteca/images/social/social19.svg') }} " alt="Twitter">

                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-3"></div>
                    </div>
                </ul>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-3">
                <h5 class="Estilo_Enunciado_Noticias">CRAI</h5>
                <ul class="list-unstyled">
                    <li class="Estilo_Pie_Pagina">

                        <span class="glyphicon glyphicon-hand-right"></span>
                        Calle Mart&iacute; 300 e/ Gonz&aacute;lez Alcorta y 27 de noviembre.


                    </li>
                    <li class="Estilo_Pie_Pagina">

                        Pinar del R&iacute;o


                    </li>
                    <li class="Estilo_Pie_Pagina">

                        C&oacute;digo Postal 20100


                    </li>
                    <li class="Estilo_Pie_Pagina">

                        Pinar del R&iacute;o, Cuba


                    </li>
                    <li class="Estilo_Pie_Pagina">

                        <span class="glyphicon glyphicon-phone-alt"></span>
                        (+53) 48755032


                    </li>
                    <li class="Estilo_Pie_Pagina">

                        <span class="glyphicon glyphicon-envelope"></span>
                        biblioteca@upr.edu.cu


                    </li>
                </ul>
                <h5 class="Estilo_Enunciado_Noticias">ACERCA DE NOSOTROS</h5>
                <ul class="list-unstyled">
                    <li>

                        <span class="glyphicon glyphicon-chevron-right"></span>
                        <a class="Estilo_Pie_Pagina" href="#">Qui&eacute;nes somos </a>

                    </li>
                    <li>

                        <span class="glyphicon glyphicon-chevron-right"></span>
                        <a class="Estilo_Pie_Pagina"  href="#">Contacto</a>


                    </li>
                </ul>
                <h5 class="Estilo_Enunciado_Noticias">&Uacute;LTIMA ACTUALIZACI&Oacute;N</h5>
                <ul class="list-unstyled">
                    <li class="Estilo_Pie_Pagina">

                        <span class="glyphicon glyphicon-chevron-right"></span>
                        {{ "now"|date("m/d/Y") }}


                    </li>
                </ul>
                <h5 class="Estilo_Enunciado_Noticias">DISEÑADO POR</h5>
                <ul class="list-unstyled">
                    <li class="Estilo_Pie_Pagina">

                        Rolik Sánchez Guevara


                    </li>
                </ul>



            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
                <h5 class="Estilo_Enunciado_Noticias">REDES</h5>
                <ul class="list-unstyled">
                    <li>
                        <span class="glyphicon glyphicon-chevron-right"></span>
                        <a class="Estilo_Pie_Pagina"  target="_blank" href="http://www.olade.org/realc/">realc</a>


                    </li>
                    <li>
                        <span class="glyphicon glyphicon-chevron-right"></span>
                        <a class="Estilo_Pie_Pagina"  target="_blank" href="http://intranet.reduniv.edu.cu/">Reduniv</a>
                    </li>
                </ul>

                <h5 class="Estilo_Enunciado_Noticias">GRUPOS DE PROYECTOS</h5>
                <ul class="list-unstyled">
                    <li>

                        <span class="glyphicon glyphicon-chevron-right"></span>
                        <a class="Estilo_Pie_Pagina"  target="_blank" href="http://progintec.upr.edu.cu/">Progintec</a>


                    </li>
                </ul>
                <h5 class="Estilo_Enunciado_Noticias">BIBLIOTECAS NACIONALES</h5>
                <ul class="list-unstyled">
                    <li>
                        <span class="glyphicon glyphicon-chevron-right"></span>
                        <a class="Estilo_Pie_Pagina"  target="_blank" data-container="body"
                           data-toggle="popover"
                           data-trigger="hover"
                           data-placement="top"
                           data-content="La Biblioteca Nacional de Cuba Jos&eacute; Mart&iacute; es depositaria del tesoro patrimonial documental, bibliogr&aacute;fico, art&iacute;stico y sonoro del pa&iacute;s"
                           href="http://www.bnjm.cu/">Biblioteca Nacional de Cuba</a>


                    </li>
                    <li>
                        <span class="glyphicon glyphicon-chevron-right"></span>
                        <a class="Estilo_Pie_Pagina"  target="_blank" data-container="body"
                           data-toggle="popover"
                           data-trigger="hover"
                           data-placement="top"
                           data-content="Proyecto que recoge obras a textos completos de cl&aacute;sicos de la filosof&iacute;a y del pensamiento cubano, as&iacute; como textos de pensadores y estudiosos actuales."
                           href="http://www.uh.cu/taxonomy/term/750">Filosof&iacute;a y Pensamiento Cubano</a>
                    </li>
                    <li>
                        <span class="glyphicon glyphicon-chevron-right"></span>
                        <a class="Estilo_Pie_Pagina"  target="_blank" data-container="body"
                           data-toggle="popover"
                           data-trigger="hover"
                           data-placement="top"
                           data-content="Las Comunidades Virtuales o Espacios Colaborativos en l&iacute;nea, en BVS, promueven y facilitan la utilizaci&oacute;n de canales formales de comunicaci&oacute;n."
                           href="http://www.uh.cu/taxonomy/term/750">Biblioteca Virtual en Salud</a>
                    </li>
                    <li>
                        <span class="glyphicon glyphicon-chevron-right"></span>
                        <a class="Estilo_Pie_Pagina"  target="_blank" href="http://biblioteca.uho.edu.cu/">Universidad de Holgu&iacute;n</a>


                    </li>
                    <li>
                        <span class="glyphicon glyphicon-chevron-right"></span>
                        <a class="Estilo_Pie_Pagina"  target="_blank" href="http://cict.umcc.cu/">Universidad de Matanzas</a>


                    </li>
                    <li>
                        <span class="glyphicon glyphicon-chevron-right"></span>
                        <a class="Estilo_Pie_Pagina"  target="_blank" href="http://www.uh.cu/taxonomy/term/750">Universidad de La Habana</a>
                    </li>

                </ul>
                <h5 class="Estilo_Enunciado_Noticias">BIBLIOTECAS INTERNACIONALES</h5>
                <ul class="list-unstyled">

                    <li>
                        <span class="glyphicon glyphicon-chevron-right"></span>
                        <a class="Estilo_Pie_Pagina"  target="_blank" data-container="body"
                           data-toggle="popover"
                           data-trigger="hover"
                           data-placement="top"
                           data-content="Biblioteca Central de Universidad Nacional Aut&oacute;noma de M&eacute;xico"
                           href="http://bc.unam.mx/">UNAM</a>
                    </li>
                    <li>
                        <span class="glyphicon glyphicon-chevron-right"></span>
                        <a class="Estilo_Pie_Pagina"  target="_blank" data-container="body"
                           data-toggle="popover"
                           data-trigger="hover"
                           data-placement="top"
                           data-content="Biblioteca de la Universidad Carlos III de Madrid"
                           href="http://www.uc3m.es/ss/Satellite/Biblioteca/es/PortadaMiniSite/1371212251593/">UC3M</a>
                    </li>
                    <li>
                        <span class="glyphicon glyphicon-chevron-right"></span>
                        <a class="Estilo_Pie_Pagina"  target="_blank" data-container="body"
                           data-toggle="popover"
                           data-trigger="hover"
                           data-placement="top"
                           data-content="Biblioteca de la Universidad Bolivariana de Venezuela"
                           href="http://koha.ubv.edu.ve/">UBV</a>
                    </li>
                    <li>
                        <span class="glyphicon glyphicon-chevron-right"></span>
                        <a class="Estilo_Pie_Pagina"  target="_blank" data-container="body"
                           data-toggle="popover"
                           data-trigger="hover"
                           data-placement="top"
                           data-content="Biblioteca Virtual Universidad Nacional de Rosario, Argentina"
                           href="http://bibliotecas.unr.edu.ar/">UNR</a>
                    </li>
                    <li>
                        <span class="glyphicon glyphicon-chevron-right"></span>
                        <a class="Estilo_Pie_Pagina"  target="_blank" data-container="body"
                           data-toggle="popover"
                           data-trigger="hover"
                           data-placement="top"
                           data-content="Biblioteca Virtual Universidad de Lovaina, B&eacute;lgica"
                           href="http://www.buendiatours.com/blog/item/la-biblioteca-de-lovaina-un-ave-fenix-de-las-dos-guerras-mundiales.html">Universidad de Lovaina</a>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-chevron-right"></span>
                        <a class="Estilo_Pie_Pagina"  target="_blank" data-container="body"
                           data-toggle="popover"
                           data-trigger="hover"
                           data-placement="top"
                           data-content="Biblioteca Virtual Universidad de Toronto, Canada"
                           href="https://onesearch.library.utoronto.ca/">Universidad de Toronto</a>
                    </li>
                </ul>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-3">
                <h5 class="Estilo_Enunciado_Noticias">COMUNIDAD PROFESIONAL</h5>
                <ul class="list-unstyled">
                    <li><span class="glyphicon glyphicon-chevron-right"></span>
                        <a data-container="body"
                           data-toggle="popover"
                           data-trigger="hover"
                           data-placement="top"
                           data-content="Sociedad Cubana de Ciencias de la Información"
                           class="Estilo_Pie_Pagina"  target="_blank" href="http://socict.org/">SOCICT (Cuba)</a>


                    </li>
                    <li><span class="glyphicon glyphicon-chevron-right"></span>
                        <a data-container="body"
                           data-toggle="popover"
                           data-trigger="hover"
                           data-placement="top"
                           data-content="Asociaci&oacute;n Cubana de Bibliotecarios"
                           class="Estilo_Pie_Pagina"  target="_blank" href="http://www.bnjm.cu/ascubi/">ASCUBI</a>


                    </li>
                    <li>
                        <span class="glyphicon glyphicon-chevron-right"></span>
                        <a data-container="body"
                           data-toggle="popover"
                           data-trigger="hover"
                           data-placement="top"
                           data-content="Asociaci&oacute;n Mexicana de Bibliotecarios A. C."
                           class="Estilo_Pie_Pagina"  target="_blank" href="https://www.ambac.org.mx/">AMBAC</a>


                    </li>
                    <li>
                        <span class="glyphicon glyphicon-chevron-right"></span>
                        <a data-container="body"
                           data-toggle="popover"
                           data-trigger="hover"
                           data-placement="top"
                           data-content="Association for Information Management"
                           class="Estilo_Pie_Pagina"  target="_blank" href="http://www.emeraldgrouppublishing.com/products/journals/journals.htm?id=ajim">ASLIB</a>
                    </li>
                    <li>
                        <span class="glyphicon glyphicon-chevron-right"></span>
                        <a data-container="body"
                           data-toggle="popover"
                           data-trigger="hover"
                           data-placement="top"
                           data-content="Asociaci&oacute;n Profesional de Especialistas en infomaci&oacute;n"
                           class="Estilo_Pie_Pagina"  target="_blank" href="http://www.apei.es/">APEI</a>


                    </li>
                    <li>
                        <span class="glyphicon glyphicon-chevron-right"></span>
                        <a data-container="body"
                           data-toggle="popover"
                           data-trigger="hover"
                           data-placement="top"
                           data-content="UNESCO"
                           class="Estilo_Pie_Pagina"  target="_blank" href="http://es.unesco.org/">UNESCO</a>



                    </li>

                    <li>
                        <span class="glyphicon glyphicon-chevron-right"></span>
                        <a data-container="body"
                           data-toggle="popover"
                           data-trigger="hover"
                           data-placement="top"
                           data-content="Federaci&oacute;n Internacional de Asociaciones de Bibliotecarios y Bibliotecas"
                           class="Estilo_Pie_Pagina"  target="_blank" href="http://www.ifla.org/ES">IFLA</a>


                    </li>
                    <li>
                        <span class="glyphicon glyphicon-chevron-right"></span>
                        <a data-container="body"
                           data-toggle="popover"
                           data-trigger="hover"
                           data-placement="top"
                           data-content="American Library Association"
                           class="Estilo_Pie_Pagina"  target="_blank" href="http://www.ala.org/">ALA</a>



                    </li>
                    <li>
                        <span class="glyphicon glyphicon-chevron-right"></span>
                        <a data-container="body"
                           data-toggle="popover"
                           data-trigger="hover"
                           data-placement="top"
                           data-content="Asociaci&oacute;n de Bibliotecarios de Cear&aacute; Brasil"
                           class="Estilo_Pie_Pagina"  target="_blank" href="http://www.recbib.es/book/abcce-asociacion-de-bibliotecarios-de-ceara-brasil">
                            ABCCE (Brasil)
                        </a>


                    </li>
                </ul>
                <h5 class="Estilo_Enunciado_Noticias">PRENSA</h5>
                <ul class="list-unstyled">
                    <li>

                        <span class="glyphicon glyphicon-chevron-right"></span>
                        <a class="Estilo_Pie_Pagina"  target="_blank" href="http://freed.upr.edu.cu/">
                            UPR Freed
                        </a>


                    </li>
                    <li>
                        <span class="glyphicon glyphicon-chevron-right"></span>
                        <a class="Estilo_Pie_Pagina"  target="_blank" href="#">Guerrillero</a>

                    </li>
                    <li>
                        <span class="glyphicon glyphicon-chevron-right"></span>
                        <a class="Estilo_Pie_Pagina"  target="_blank" href="#">Granma</a>

                    </li>
                    <li>
                        <span class="glyphicon glyphicon-chevron-right"></span>
                        <a class="Estilo_Pie_Pagina"  target="_blank" href="#">Trabajadores</a>

                    </li>
                    <li>
                        <span class="glyphicon glyphicon-chevron-right"></span>
                        <a class="Estilo_Pie_Pagina"  target="_blank" href="#">Juventud Rebelde</a>

                    </li>
                    <li>
                        <span class="glyphicon glyphicon-chevron-right"></span>
                        <a class="Estilo_Pie_Pagina"  target="_blank" href="#">Cubadebate</a>
                    </li>

                </ul>

                <h5 class="Estilo_Enunciado_Noticias">ENLACES DE INTER&Eacute;S</h5>
                <ul class="list-unstyled">
                    <li>
                        <span class="glyphicon glyphicon-chevron-right"></span>
                        <a class="Estilo_Pie_Pagina"  target="_blank" href="https://www.ecured.cu/EcuRed:Enciclopedia_cubana">Ecured</a>


                    </li>
                    <li>
                        <span class="glyphicon glyphicon-chevron-right"></span>
                        <a class="Estilo_Pie_Pagina"  target="_blank" href="http://wikipedia.progintec.upr.edu.cu/wikipedia_es_all_2016-05/">Wikipedia</a>


                    </li>
                    <li>
                        <span class="glyphicon glyphicon-chevron-right"></span>
                        <a class="Estilo_Pie_Pagina"  target="_blank" href="http://intranet.mes.gob.cu/">MES</a>

                    </li>
                    <li>
                        <span class="glyphicon glyphicon-chevron-right"></span>
                        <a class="Estilo_Pie_Pagina"  target="_blank" href="http://www.granma.cu/reflexiones-fidel">Reflexiones de Compa&ntilde;ero Fidel </a>

                    </li>
                    <li>
                        <span class="glyphicon glyphicon-chevron-right"></span>
                        <a class="Estilo_Pie_Pagina"  target="_blank" href="http://www.cubadebate.cu/autor/raul-castro-ruz/">Discursos de Ra&uacute;l</a>

                    </li>


                </ul>

            </div>
        </div>
    </div>
</div>
<h5 class="text-center Estilo_Pie_Pagina">

    <a class="center-block " href="http://intranet.upr.edu.cu/"  target="_blank">
        &copy;2017 Universidad de Pinar del R&iacute;o
    </a>
</h5>