
<div class="container Mi_pading">
    <div class="Mi_container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">

                <div class="page-header">
                    <h3 class="Estilo_Enunciado_Noticias">Servicios</h3>
                </div>
                <br>
                <div class="Mi_container">
                    <div class="container">
                        <div class="row ">
                            <div class="col-lg-1 col-md-1 col-sm-1"></div>

                            <div class="col-lg-2 col-md-2  col-sm-2 text-center">
                                <a data-container="body"
                                   data-toggle="popover"
                                   data-trigger="hover"
                                   data-placement="top"
                                   data-content="Colecciones impresas de la biblioteca."

                                   target="_blank" href="http://catalogo.upr.edu.cu/">
                                    <img class="center-block img-responsive" width="120"
                                         src="{{ asset('biblioteca/biblioteca/images/ICRAI/Catalogo.svg') }}" alt=""/>
                                    <br>

                                    <div class="Estilo_Vista_Servicios_Servicios">Cat&aacute;logo</div>

                                </a>

                            </div>

                            <div class="col-lg-2 col-md-2 col-sm-2 text-center">
                                <a data-container="body"
                                   data-toggle="popover"
                                   data-trigger="hover"
                                   data-placement="top"
                                   data-content="Consulte leyes, tesis, libros, normas…"
                                   target="_blank" href="https://earchivos.upr.edu.cu">
                                    <img class="center-block img-responsive" width="120"
                                         src="{{ asset('biblioteca/biblioteca/images/ICRAI/eArchivo.svg') }}" alt=""/>
                                    <br>

                                    <div class="Estilo_Vista_Servicios_Servicios">Biblioteca digital</div>
                                </a>

                            </div>

                            <div class="col-lg-2 col-md-2 col-sm-2 text-center">
                                <a data-container="body"
                                   data-toggle="popover"
                                   data-trigger="hover"
                                   data-placement="top"
                                   data-content="Producción académica en acceso abierto…"

                                   target="_blank" href="https://rc.upr.edu.cu">
                                    <img class="center-block img-responsive" width="120"
                                         src="{{ asset('biblioteca/biblioteca/images/ICRAI/Repositorio.svg') }}" alt=""/>
                                    <br>

                                    <div class="Estilo_Vista_Servicios_Servicios">Repositorio</div>
                                </a>
                            </div>

                            <div class="col-lg-2 col-md-2 col-sm-2 text-center">
                                <a data-container="body"
                                   data-toggle="popover"
                                   data-trigger="hover"
                                   data-placement="top"
                                   data-content="Recursos de Informaci&oacute;n, Bases de datos, revistas internacionales, buscadores."
                                   href="{{ path('servicios_ri') }}">
                                    <img class="center-block img-responsive" width="120"
                                         src="{{ asset('biblioteca/biblioteca/images/ICRAI/RecursosInformacion.svg') }}" alt=""/>
                                    <br>

                                    <div class="Estilo_Vista_Servicios_Servicios">Recursos</div>

                                </a>


                            </div>
                            <div class="col-lg-1 col-md-1 col-sm-1"></div>
                            <div class="col-lg-1 col-md-1 col-sm-1"></div>
                            <div class="col-lg-1 col-md-1 col-sm-1"></div>
                        </div>
                        <br>

                        <div class="row">
                            <div class="col-lg-1 col-md-1 col-sm-1"></div>

                            <div class="col-lg-2 col-md-2 col-sm-2 text-center">
                                <a  data-container="body"
                                    data-toggle="popover"
                                    data-trigger="hover"
                                    data-placement="top"
                                    data-content="Portal de Revistas Científicas"
                                    target="_blank"
                                    href="http://tocororo.upr.edu.cu/">
                                    <img class="center-block img-responsive" width="120"
                                         src="{{ asset('biblioteca/biblioteca/images/ICRAI/P.svg') }}" alt=""/>
                                    <br>

                                    <div class="Estilo_Vista_Servicios_Servicios">Revistas Cient&iacute;ficas</div>
                                </a>
                            </div>

                            <div class="col-lg-2 col-md-2 col-sm-2 text-center">

                                <a data-container="body"
                                   data-toggle="popover"
                                   data-trigger="hover"
                                   data-placement="top"
                                   data-content="archivos, aplicaciones…"
                                   target="_blank" href="http://repositorio.biblioteca.upr.edu.cu">
                                    <img class="center-block img-responsive" width="120"
                                         src="{{ asset('biblioteca/biblioteca/images/ICRAI/Asset 6.svg') }}"
                                         alt=""/>
                                    <br>

                                    <div class="Estilo_Vista_Servicios_Servicios">FTP - Biblioteca</div>
                                </a>


                            </div>

                            <div class="col-lg-2 col-md-2 col-sm-2 text-center">
                                <a data-container="body"
                                   data-toggle="popover"
                                   data-trigger="hover"
                                   data-placement="top"
                                   data-content="Conozca la biblioteca"
                                   href="{{ path('servicios_vg') }}">
                                    <img class="center-block img-responsive" width="120"
                                         src="{{ asset('biblioteca/biblioteca/images/ICRAI/VisitaGuiada.svg') }}" alt=""/>
                                    <br>

                                    <div class="Estilo_Vista_Servicios_Servicios">Visita Guiada</div>
                                </a>

                            </div>

                            <div class="col-lg-2 col-md-2 col-sm-2 text-center">
                                <a data-container="body"
                                   data-toggle="popover"
                                   data-trigger="hover"
                                   data-placement="top"
                                   data-content="Solicite documentos en línea"
                                   href="{{ path('biblioteca_contacto') }}">
                                    <img class="center-block img-responsive" width="120"
                                         src="{{ asset('biblioteca/biblioteca/images/ICRAI/Prestamo.svg') }}" alt=""/>
                                    <br>

                                    <div class="Estilo_Vista_Servicios_Servicios">Pr&eacute;stamo</div>

                                </a>


                            </div>
                            <div class="col-lg-1 col-md-1 col-sm-1"></div>
                            <div class="col-lg-1 col-md-1 col-sm-1"></div>
                        </div>
                        <br>

                        <div class="row">
                            <div class="col-lg-1 col-md-1 col-sm-1"></div>

                            <div class="col-lg-2  col-md-2 col-sm-2 text-center">

                                <a data-container="body"
                                   data-toggle="popover"
                                   data-trigger="hover"
                                   data-placement="top"
                                   data-content="Reserva de locales."
                                   href="{{ path('reservars_sala') }}">
                                    <img class="center-block img-responsive" width="120"
                                         src="{{ asset('biblioteca/biblioteca/images/ICRAI/GestionReserva.svg') }}" alt=""/>
                                    <br>

                                    <div class="Estilo_Vista_Servicios_Servicios">Gesti&oacute;n de Reserva</div>
                                </a>
                            </div>

                            <div class="col-lg-2 col-md-2 col-sm-2 text-center">
                                <a data-container="body"
                                   data-toggle="popover"
                                   data-trigger="hover"
                                   data-placement="top"
                                   data-content="Acceso a bases de datos, correo, intranet..."
                                   href="#">
                                    <img class="center-block img-responsive" width="120"
                                         src="{{ asset('biblioteca/biblioteca/images/ICRAI/SalaNavegacion.svg') }}" alt=""/>
                                    <br>

                                    <div class="Estilo_Vista_Servicios_Servicios">Sala de navegaci&oacute;n</div>
                                </a>

                            </div>

                            <div class="col-lg-2 col-md-2 col-sm-2 text-center">

                                <a  data-container="body"
                                    data-toggle="popover"
                                    data-trigger="hover"
                                    data-placement="top"
                                    data-content="Enlaces de interés"

                                    href="#">
                                    <img class="center-block img-responsive" width="120"
                                         src="{{ asset('biblioteca/biblioteca/images/ICRAI/SitiosReferencias.svg') }}" alt=""/>
                                    <br>

                                    <div class="Estilo_Vista_Servicios_Servicios">Sitios de referencia</div>
                                </a>
                            </div>

                            <div class="col-lg-2 col-md-2 col-sm-2 text-center">


                            </div>
                            <div class="col-lg-1 col-md-1 col-sm-1"></div>
                            <div class="col-lg-1 col-md-1 col-sm-1"></div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>



